%html
  %head
    %link{:type => 'text/css', :rel => 'stylesheet', :href => 'stylesheets/style.css'}
  %body
    %h1 Hi
    -colors.each do |pair|
      -one, two = pair
      .one
        =one
      .two
        =two

